$light-grey: #EEEEEE;
$grey: #9E9E9E;
$dark-grey: #393939;

$light-blue: #689ED1;
$yellow: #FFC870;
$red: #EF6262;
$green: #21ba3d;
$orange: #fb8808;

$blue: #0053A0;
$immateriel-blue: #1e89be;
$dark-blue: #003a71;
$medium-green: #a8c02f;
$dark-green: #849722;
